---
import Layout from '@layouts/Layout.astro';
import FirstScreen from '@components/first-screen/index.astro';
import KnowledgeBase from '@components/page-main/knowledge-base.astro';
import Footer from '@components/footer/index.astro';
import MyProjects from '@components/page-main/my-projects.astro';
import LinksToWeb from '@components/page-main/links-to-web.astro';
---

<Layout
  title="Mark Fish | Full-stack developer"
  description="Hello! I am Mark Fish (Pilaton) — I'm in business, bringing various ideas to life and solving business problems. I optimize everything and anything."
>
  <main>
    <FirstScreen />

    <div class="container mx-auto max-w-4xl px-4 pt-20">
      <section class="about-me descr_p mb-20">
        <h2 class="mb-5 text-[2rem] font-semibold">About me</h2>
        <p class="mb-2 text-18 text-descr">
          Full-stack developer. I write, launch, optimize, automate. I do business and mostly my own
          projects. I post useful solutions in opensource. <br />
          In my spare time, I help other developers with code.
        </p>
        <p class="mb-2 text-18 text-descr">
          If you have something of interest to me - drop me a message, don't be shy!
        </p>

        <hr class="my-8" />

        <LinksToWeb />
      </section>

      <MyProjects />
      <KnowledgeBase />

      <hr />
    </div>
  </main>

  <Footer />
</Layout>
